sudo: false
os:
  - linux
language: node_js
node_js:
  - lts/*
  - '6'
  - '8'
  - '10'
  - '12'
  - '14'
env:
  matrix:
    - TEST_SUITE=unit
matrix:
  include:
    - os: linux
      node_js: lts/*
      env: TEST_SUITE=lint
script: npm run $TEST_SUITE
